<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.industrialmessagesbridge">

    <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <!-- Required -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.TopicContentDetailActivity" />
        <activity android:name=".activity.BecomeMaster" />
        <activity android:name=".activity.MasterIntroduce" />
        <activity
            android:name=".activity.BusinessNeed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShowNeedDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SendNeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TaskBigImgActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ConfirmName"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingPersonInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.histroy.HistroyInPosts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SendPostsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SendArticleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".utils.DemoFileProvider"
            android:authorities="com.example.administrator.industrialmessagesbridge.utils.DemoFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".utils.NetworkChangReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MoreGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DocumentInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyAttention"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserDescribe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AppointmentMasterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AppointMasterDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BeAppointMasterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SetRequestNeedActivity"></activity>
    </application>

</manifest>